.addProduct-page{
    display: flex;
    position: relative;
    width: 50%;
    left: 20%;
    flex-direction: column;
    bottom: 565px;
}
.addProduct-page-header{
    display: flex;
    position: relative;
    width: 25%;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    left: 15%;
}
.add-product-data{
    display: flex;
    position: relative;
    width: 70%;
    justify-content: center;
    left: 20%;
    bottom: 12px;
    box-shadow: 0px 0.4px 0px 0.5px black ;

}
.add-product-data form{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 70%;
}

.select{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 35px;
}
.select select{
    height: 350px;
}
.label{
    display: flex;
    position: relative;
    font-size: 15px;
    font-weight: bold;
}
@media screen and (max-width:850px) {
    .addProduct-page{
        left: 37%;
        bottom: 585px;
    }
    .add-product-data{
        left: 3%;
        width: 100%;
    }
    .add-product-data form{
        display: flex;
        position: relative;
        width: 80%;
        flex-direction: column;
    }
}