.product-page {
    display: flex;
    position: relative;
    left: 19%;
    width: 70%;
    bottom: 537px;
}
.product-page-header{
    display: flex;
    position: relative;
    left: 75px;
    top: -50px;
}
.product-page-header button:hover{
    opacity: 1;
    background-color: rgb(161, 131, 243);
}
.view-product{
    display: flex;
    position: absolute;
    left:80px;
    top: 15%;
    width: 75%;
    flex-direction: column;
    background-color: rgba(190, 190, 190, 1);
    box-shadow: 0px 6px 5px 3px black;
    height: 500px;
    overflow-y: scroll;
  
}
.view-product-header{
    display: flex;
    position: relative;
}
.view-product-header h3{
    position: relative; 
    left: 4%;
}
@media screen and (max-width:850px) {
    .product-page {
        display: flex;
        position: relative;
        left: 33%;
        width: 64%;
        top: 20%;
        bottom:565px;
    }

    .view-product {
        display: flex;
        left: 0;
        width: 100%;
        height: 400px;
        overflow: scroll;
    
    }
    .product-page-header{
        left: 0px;
    }
}