.side-drawer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 60%;
    background: rgb(0, 0, 0,0.6);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  
  .side-drawer-item {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
   font-size: 22px;
  }
  
  @media  screen and (max-width: 850px) {
    .nav-links {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      padding-right: 10px;
      flex-direction: column;
      font-size: 20px;
      position: relative;
      top: 50px;
      left: 20px;
    }
    .widows-view{
      display: none;
    }
    
    .screen-view{
      display: flex;
      flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    }
    .CartDropDown-screen-view{
      display: flex;
      position: relative;
      left: 160px;
    }
    .CartDropDown-screen-view button{
      display: flex;
      position: relative;
      background-color: black;
      font-size: 15px;
      justify-content: center;
    }
    .nav-links li {
      margin: 0 0.5rem;
    }
  
    .nav-links a {
      color: white;
      text-decoration: none;
    }
  
    .nav-links button {
      color: rgb(0, 0, 0);
      background: transparent;
    }
    
    .nav-links button:hover,
    .nav-links button:active {
      background: #ffffff;
      color: #ffffff;
    }
    

  }
  