.pamentForm{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;

    .delevery-Information{
        display: flex;
        position: relative;
        width: 50%;
        height: 500px;
        top: 100px;
        left: 150px;
        flex-direction: column;
        h2{
            display: flex;
            position: relative;
            left: 40px;  
            margin-bottom: 20px;          
        }
        .paymentForm{
            display: flex;
            position: relative;
            flex-direction: column;
            width:500px;
            height: 100%;
            margin-left: 1%;
            margin-bottom: 150px;
                input{
                    display: flex;
                    position: relative;
                    margin-left: 5px;
                    width: 100%;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    margin: 10px 1px;
                }
                
            
            .secondLine{
                display: flex;
                position: relative;
                flex-direction: column;
                left: 20px;
                input{
                    display: flex;
                    position: relative;
                    width: 435px;
                    margin-left: 15px;
                    border-radius: 0;
                    margin: 0;
                   border: 1px solid #ccc;
                   margin: 10px 0;

                }
            }
            .pay-button{ button{
                display: flex;
                position: relative; 
                left: 610px;
                z-index: 6;
            }}

        }
    }
    .cartTotal1{
        display: flex;
        position: relative;
        width: 38%;
        // background-color: red;
        flex-direction: column;
        margin-left: 5px;
        top: 100px;
        height: 50%;
    
       .element{
        display: flex;
        position: relative;
        width: 90%;
        justify-content: space-between;
        font-size: 25px;
        border-bottom: 1px solid silver;
        padding: 10px;
       .total1{
        font-weight: 600;
       }
       }
       .top{
        margin-top: 5px;
       }
       .bottom{
        margin-bottom: 5px;
       }
       
      }
}

@media screen and (max-width:450px) {

    .pamentForm {
        flex-direction: column;
        left: 10%;
        width: 80%;
        margin-bottom: 550px;
        .delevery-Information {
            height: 370px;
            width: 100%;
            top: 0;
            left: 0;
            .paymentForm {
                width: 50%  ;
                .fristLine{
                 justify-content:start;
                 left: 18px;
                    input{
                        width: 150px;
                    }
                }
                .secondLine{ 
                    input{
                        width:300px;
                    }
                }
                .pay-button{ button{
                    display: flex;
                    position: relative; 
                   left: 25px;
                   z-index: 6;
                   top: 350px;
                }
            }
            }
        }
        .cartTotal1{
            width: 100%;

            top: 0;        
           .element{
            display: flex;
            position: relative;
            width: 90%;
            justify-content: space-between;
            font-size: 25px;
            border-bottom: 1px solid silver;
            padding: 10px;
           .total1{
            font-weight: 600;
           }
           }

          }
    }
}