.modal {
 display: fixed;
 position: absolute;
 z-index: 100; 
}
.modal-header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: #595959;
    color: white;
    z-index: 110;
}
  
  .modal-header h2 {
    margin: 0.5rem;
}
  
  .modal-content {
    padding: 1rem 0.5rem;
    font-size: 20px;
    background-color: white;
}
  
  .modal-footer {
    padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
  background-color: #ccc;
}
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
}
  
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
}
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
}
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
}
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
}
